{% extends "base.html" %}
{% block content %}

<div class="container mt-5">

    <h3>Cambiar contraseña</h3>
    <hr>

    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="POST">
        <label>Contraseña actual:</label>
        <input type="password" name="actual" class="form-control" required>

        <label class="mt-3">Nueva contraseña:</label>
        <input type="password" name="nueva" class="form-control" required>

        <button class="btn btn-warning mt-3">Actualizar</button>
        <a href="{{ url_for('perfil') }}" class="btn btn-secondary mt-3">Cancelar</a>
    </form>

</div>

{% endblock %}